# Ignore cache
app/__pycache__/*
app/R_docker/__pycache__/*
app/R_jenkins/__pycache__/*
app/R_gitlab/__pycache__/*
app/R_ldap/__pycache__/*
code/__pycache__/*
code/grupos/__pycache__/*
code/users/__pycache__/*
code/mensagens/__pycache__/*
HelpDesk/Blueprints/__pycache__/*
HelpDesk/Models/__pycache__/*
HelpDesk/banco.db
.vscode/*